 <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <h2>User info</h2>
  <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
  <table class="table">
    <tbody>
      <tr>
        <th>name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
      </tr>
    </tbody>
  </table>
  <%= link_to edit_user_path(user) do %>
  <span class="btn btn-outline-secondary btn-block fas fa-user-cog w-100"></span>
  <% end %>

<h2>New book</h2>
<%= form_with model:book, local: true do |f| %>
<div class="form-group">
  <label for="book_title">Title</label>
  <%#= f.text_field :title %>
  <input class="form-control book_title" type="text" name="book[title]" id="book_title">
</div>
<div class="form-group">
  <label for="book_opinion">Opinion</label>
  <%#= f.text_area :body %>
  <input class="form-control book_opinion" type="text" name="book[body]" id="book_body">
</div>
<div class="form-group">
  <%= f.submit 'Create Book', class: "btn btn-success"%>
</div>  
<% end %>

