
<div class="container">
  <div class="row">
    <div class="col-md-3"><%= render 'form', book: @book ,user: @user %></div>

<div class="col-md-8 offset-md-1">
  <h1>Books</h1>
  <table class="table table-hover">
    <thead>
      <tr><th></th><th>title</th><th>opinion</th></tr>
      </thead>
      <% @books.each do |book| %>
      <tr>
      <td><%= link_to user_path(book.user.id) do %>
          <%= attachment_image_tag book.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
          <% end %>
        </td>
        <td><%= link_to book_path(book.id) do %>
            <%= book.title %>
            <% end %>
        </td>
        <td><%= book.body %></td>
      </tr>
      <% end %>
  </table>
</div>

</div>
</div>
