<div class="container">
  <div class="row">
<div class="col-md-3"><%= render 'form', book: @book_new ,user: @user %></div>

<div class="col-md-8 offset-md-1">
<h1>Book detail</h1>
<div class="table border-top">
    <table>
    <tr>
      <td><p><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></p>
            <%= link_to user_path(@user.id) do %>
            <p><%= @user.name %></p>
            <% end %>
      </td>
      <th><%= link_to book_path(@book.id) do %>
          <%= @book.title %>
          <% end %>
      </th>
      <th><%= @book.body %></th>
      <th><% if @book.user == current_user %>
          <%= link_to "Edit", edit_book_path(@book.id), class:"btn btn-success"%>
          <%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に消しますか?", class:"btn btn-danger"%>
          <% end %>
      </th>
    </tr>
    </table>
</div>
</div>
</div>